Repository aerimforest/Algorithm-Study, pull requests merged in 2022-10, with the labels that each got.

#235 Update: Readme.md
  README.md
Labels: dongwan

#236 [Programmers] 22-10-01
  Programmers/dongwan/디스크 컨트롤러.py
  Programmers/dongwan/위장.py
Labels: dongwan

#237 [Programmers] 22-10-01
  Programmers/chaeeun/디스크컨트롤러.py
  Programmers/chaeeun/위장.py
Labels: chaeeun

#238 [Programmers] 22-10-01
  Programmers/yerim/디스크 컨트롤러.cpp
  Programmers/yerim/위장.cpp
Labels: yerim, c++

#239 [Programmers] 22-10-01
  Baekjoon/hyeonyoung/어른 상어.cpp
  Baekjoon/hyeonyoung/청소년 상어.cpp
  Programmers/hyeonyoung/디스크 컨트롤러.cpp
  Programmers/hyeonyoung/위장.cpp
Labels: hyeonyoung

#240 [Baekjoon] 22-10-02
  Baekjoon/hyeonyoung/1, 2, 3 더하기.cpp
  Baekjoon/hyeonyoung/숨바꼭질 4.cpp
Labels: hyeonyoung

#241 [Baekjoon] 22-10-02
  Baekjoon/dongwan/1,2,3더하기.py
  Baekjoon/dongwan/숨바꼭질4.py
Labels: python, dongwan

#224 [Baekjoon] 22-10-02
  Baekjoon/juhee/123더하기.java
  Baekjoon/juhee/DSLR.java
  Baekjoon/juhee/숨바꼭질4.java
  Baekjoon/juhee/쿼드트리.java
Labels: Java, juhee

#242 [Baekjoon] 22-10-02
  Baekjoon/yerim/1, 2, 3 더하기.cpp
  Baekjoon/yerim/숨바꼭질 4.cpp
Labels: yerim

#245 [Baekjoon] 22-10-02
  Baekjoon/subin/1,2,3 더하기.py
  Baekjoon/subin/숨바꼭질4.py
Labels: subin, python

#247 [Baekjoon] 22-10-03
  Baekjoon/dongwan/부분수열의 합.py
  Baekjoon/dongwan/좋은수열.py
Labels: python, dongwan

#248 [Baekjoon] 22-10--3
  Baekjoon/chaeeun/부분수열의합.py
  Baekjoon/chaeeun/좋은수열.py
Labels: chaeeun

#249 [Baekjoon] 22-10-03
  Baekjoon/yerim/17144.cpp
  Baekjoon/yerim/g.cpp
  Baekjoon/yerim/test.cpp
  Baekjoon/yerim/부분수열의 합.cpp
  Baekjoon/yerim/좋은수열.cpp
  Programmers/yerim/디스크 컨트롤러.cpp
Labels: yerim, c++

#250 [Baekjoon] 22-10-03
  Baekjoon/hyeonyoung/좋은수열.cpp
Labels: hyeonyoung

#251 [Baekjoon] 22-10-03
  Baekjoon/jaehyung/부분수열의합.java
  Baekjoon/jaehyung/좋은수열.java
Labels: Java, jaehyung

#252 [Baekjoon] 22-10-03
  Baekjoon/subin/부분수열의 합.py
  Baekjoon/subin/좋은수열.py
Labels: subin, python

#254 [Baekjoon] 22-10-04
  Baekjoon/hyeonyoung/압축.cpp
  Baekjoon/hyeonyoung/프린터 큐.cpp
Labels: hyeonyoung

#255 [Baekjoon] 22-10-04
  Baekjoon/yerim/압축.cpp
  Baekjoon/yerim/프린터 큐.cpp
Labels: yerim, c++

#257 [Baekjoon] 22-10-05
  Baekjoon/subin/압축.py
  Baekjoon/subin/프린터 큐.py
Labels: subin, python

#258 [Baekjoon] 22-10-04
  Baekjoon/jaehyung/압축.java
  Baekjoon/jaehyung/프린터큐.java
Labels: Java, jaehyung

#259 [Baekjoon] 22-10-05
  Baekjoon/juhee/마법사상어와파이어볼.java
  Baekjoon/juhee/스타트택시.java
Labels: Java, juhee

#260 [Baekjoon] 22-10-05
  Baekjoon/hyeonyoung/마법사 상어와 파이어볼.cpp
  Baekjoon/hyeonyoung/스타트 택시.cpp
Labels: hyeonyoung

#261 [Baekjoon] 22-10-05
  Baekjoon/subin/마법사 상어와 파이어볼.py
  Baekjoon/subin/스타트 택시.py
Labels: subin, python

#262 [Baekjoon] 22-10-05
  Baekjoon/chaeeun/마법사상어와파이어볼.py
  Baekjoon/chaeeun/스타트택시.py
Labels: chaeeun

#264 [Baekjoon] 22-10-05 (미성공)
  Baekjoon/jaehyung/마법사상어와파이어볼.java
  Baekjoon/jaehyung/스타트택시.java
Labels: Java, jaehyung

#265 [Baekjoon] 22-10-06
  Baekjoon/hyeonyoung/공유기 설치.cpp
  Baekjoon/hyeonyoung/예산.cpp
Labels: hyeonyoung

#267 [Baekjoon] 22-10-06
  Baekjoon/subin/공유기 설치.py
  Baekjoon/subin/예산.py
Labels: subin, python

#268 [Baekjoon] 22-10-06
  Baekjoon/jaehyung/공유기설치.java
  Baekjoon/jaehyung/스타트택시.java
  Baekjoon/jaehyung/예산.java
Labels: Java, jaehyung

#269 [Baekjoon] 22-10-06
  Baekjoon/dongwan/공유기 설치.py
  Baekjoon/dongwan/예산.py
  Baekjoon/dongwan/프린터 큐.py
Labels: python, dongwan

#270 [Baekjoon] 22-10-06
  Baekjoon/yerim/공유기 설치.cpp
  Baekjoon/yerim/예산.cpp
Labels: yerim, c++

#272 [Baekjoon] 22-10-07
  Baekjoon/juhee/Moo게임.java
  Baekjoon/juhee/세용액.java
Labels: Java, juhee

#273 [Baekjoon] 22-10-07
  Baekjoon/hyeonyoung/Moo 게임.cpp
  Baekjoon/hyeonyoung/세 용액.cpp
Labels: hyeonyoung

#276 [Baekjoon] 22-10-08
  Baekjoon/dongwan/경사로.py
  Baekjoon/dongwan/톱니바퀴.py
Labels: python, dongwan

#277 [Baekjoon] 22-10-08
  Baekjoon/seongyong/경사로.py
  Baekjoon/seongyong/톱니바퀴.py
Labels: seongyong, python

#278 [Baekjoon] 22-10-08
  Baekjoon/yerim/Moo 게임.cpp
  Baekjoon/yerim/공유기 설치.cpp
  Baekjoon/yerim/톱니바퀴.cpp
Labels: yerim, c++

#279 [Baekjoon] 22-10-08
  Baekjoon/jaehyung/경사로.java
Labels: Java, jaehyung

#280 [Baekjoon] 22-10-08
  Baekjoon/subin/경사로.py
  Baekjoon/subin/톱니바퀴.py
Labels: subin, python

#281 [Baekjoon] 22-10-08 (수정)
  Baekjoon/jaehyung/경사로.java
Labels: Java, jaehyung

#283 [Baekjoon] 22-10-09
  Baekjoon/seongyong/write_n_commit.sh
  Baekjoon/seongyong/떡장수와 호랑이.py
  Baekjoon/seongyong/성곽.py
  Programmers/seongyong/write_n_commit.sh
Labels: seongyong, python

#284 [Baekjoon] 22-10-09
  Baekjoon/hyeonyoung/경사로.cpp
  Baekjoon/hyeonyoung/떡장수와 호랑이.cpp
  Baekjoon/hyeonyoung/성곽.cpp
  Baekjoon/hyeonyoung/톱니바퀴.cpp
Labels: hyeonyoung

#285 [Baekjoon] 22-10-09
  Baekjoon/jaehyung/떡장수와호랑이.java
  Baekjoon/jaehyung/성곽.java
Labels: Java, jaehyung

#288 [Baekjoon] 22-10-10
  Baekjoon/hyeonyoung/랜선 자르기.cpp
  Baekjoon/hyeonyoung/저울.cpp
Labels: hyeonyoung

#289 [Baekjoon] 22-10-10
  Baekjoon/yerim/랜선 자르기.py
  Baekjoon/yerim/저울.py
Labels: yerim, python

#290 [Baekjoon] 22-10-10
  Baekjoon/seongyong/랜선 자르기.py
  Baekjoon/seongyong/저울.py
Labels: seongyong, python

#291 [Baekjoon] 22-10-10
  Baekjoon/subin/랜선 자르기.py
  Baekjoon/subin/저울.py
Labels: subin, python

#292 [Baekjoon] 22-10-11
  Baekjoon/juhee/괄호추가하기.java
  Baekjoon/juhee/새로운게임2.java
Labels: Java, juhee

#293 [Baekjoon] 22-10-11
  Baekjoon/dongwan/괄호 추가하기.py
  Baekjoon/dongwan/새로운 게임2.py
Labels: python, dongwan

#294 [Baekjoon] 22-10-11
  Baekjoon/hyeonyoung/괄호 추가하기.cpp
Labels: hyeonyoung

#295 [Baekjoon] 22-10-11
  Baekjoon/yerim/괄호 추가하기.cpp
  Baekjoon/yerim/새로운 게임.cpp
Labels: yerim, c++

#298 [Baekjoon] 22-10-12
  Baekjoon/hyeonyoung/여행 가자.cpp
Labels: hyeonyoung

#299 [Baekjoon] 22-10-12
  Baekjoon/dongwan/최소비용 구하기.py
Labels: python, dongwan

#300 [Baekjoon] 22-10-12
  Baekjoon/seongyong/여행가자.py
  Baekjoon/seongyong/최소비용 구하기.py
Labels: seongyong, python

#302 [Baekjoon] 22-10-12
  Baekjoon/subin/여행 가자.py
  Baekjoon/subin/최소비용 구하기.py
Labels: subin, python

#303 [Baekjoon] 22-10-13
  Baekjoon/juhee/지름길.java
  Baekjoon/juhee/회전초밥.java
Labels: Java, juhee

#304 [Baekjoon] 22-10-13
  Baekjoon/hyeonyoung/지름길.cpp
  Baekjoon/hyeonyoung/회전 초밥.cpp
Labels: hyeonyoung

#305 [Baekjoon] 22-10-13
  Baekjoon/dongwan/지름길.py
  Baekjoon/dongwan/최소비용 구하기.py
  Baekjoon/dongwan/회전초밥.py
Labels: python, dongwan

#306 [Baekjoon] 22-10-13
  Baekjoon/yerim/지름길.cpp
  Baekjoon/yerim/회전 초밥.cpp
Labels: yerim, c++

#307 [Baekjoon] 22-10-13
  Baekjoon/seongyong/지름길.py
  Baekjoon/seongyong/회전 초밥.py
Labels: seongyong, python

#308 [Baekjoon] 22-10-14
  Baekjoon/seongyong/마법사 상어와 토네이도.py
  Baekjoon/seongyong/마법사 상어와 파이어스톰.py
Labels: seongyong, python

#309 [Baekjoon] 22-10-14
  Baekjoon/dongwan/마법사 상어와 토네이도.py
  Baekjoon/dongwan/마법사 상어와 파이어스톰.py
  Baekjoon/dongwan/회전초밥.py
Labels: python, dongwan

#310 [Baekjoon] 22-10-14
  Baekjoon/hyeonyoung/마법사 상어와 토네이도.cpp
  Baekjoon/hyeonyoung/마법사 상어와 파이어스톰.cpp
Labels: hyeonyoung

#313 [Programmers] 22-10-15
  Programmers/hyeonyoung/영어 끝말잇기.cpp
Labels: hyeonyoung

#314 [Programmers] 22-10-15
  Programmers/dongwan/구멍보트.py
  Programmers/dongwan/영어 끝말잇기.py
Labels: python, dongwan

#315 [Programmers] 22-10-15
  Programmers/seongyong/영어 끝말잇기.py
Labels: seongyong, python

#316 [Programmers] 22-10-15
  Programmers/구명보트.py
  Programmers/영어 끝말잇기.py
Labels: yerim, python

#318 [Programmers] 22-10-15
  Baekjoon/jaehyung/영어끝말잇기.java
Labels: Java, jaehyung

#320 [Programmers] 22-10-15
  Programmers/yerim/test.cpp
  Programmers/yerim/구명보트.py
  Programmers/yerim/영어 끝말잇기.py
Labels: yerim, python

#321 [Baekjoon] 22-10-16
  Baekjoon/jaehyung/북쪽나라의도로.java
  Baekjoon/jaehyung/전화번호목록.java
Labels: Java, jaehyung

#322 [Baekjoon] 22-10-16
  Baekjoon/hyeonyoung/북쪽나라의 도로.cpp
  Baekjoon/hyeonyoung/전화번호 목록.cpp
Labels: hyeonyoung

#323 [Baekjoon] 22-10-17
  Baekjoon/hyeonyoung/계란으로 계란치기.cpp
  Baekjoon/hyeonyoung/녹색 옷 입은 애가 젤다지?.cpp
Labels: hyeonyoung

#324 [Baekjoon] 22-10-17
  Baekjoon/seongyong/계란으로 계란치기.py
  Baekjoon/seongyong/녹색 옷 입은 애가 젤다지?.py
Labels: seongyong, python

#325 [Baekjoon] 22-10-17
  Baekjoon/dongwan/계란으로 계란치기.py
  Baekjoon/dongwan/녹색 옷 입은 애가 젤다지.py
Labels: dongwan

#326 [Baekjoon] 22-10-17
  Baekjoon/yerim/계란으로 계란치기.cpp
  Baekjoon/yerim/녹색 옷 입은 애가 젤다지?.cpp
Labels: yerim, c++

#328 [Baekjoon] 22-10-18
  Baekjoon/hyeonyoung/네트워크 연결.cpp
  Baekjoon/hyeonyoung/줄 세우기.cpp
Labels: hyeonyoung

#329 [Baekjoon] 22-10-18
  Baekjoon/juhee/네트워크연결.java
  Baekjoon/juhee/줄세우기.java
  Programmers/juhee/영어끝말잇기.java
Labels: Java, juhee

#330 [Baekjoon] 22-10-18
  Baekjoon/yerim/네트워크 연결.cpp
  Baekjoon/yerim/줄 세우기.cpp
Labels: yerim, c++

#331 [Baekjoon] 22-10-18
  Baekjoon/dongwan/네트워크 연결.py
  Baekjoon/dongwan/줄 세우기.py
Labels: python, dongwan

#333 [Baekjoon] 22-10-18
  Baekjoon/subin/네트워크 연결.py
  Baekjoon/subin/줄 세우기.py
Labels: subin, python

#334 [Baekjoon] 22-10-19
  Baekjoon/juhee/운동.java
  Baekjoon/juhee/책페이지.java
Labels: Java, juhee

#336 [Baekjoon] 22-10-19
  Baekjoon/yerim/운동.cpp
  Baekjoon/yerim/책 페이지.cpp
Labels: yerim, c++

#338 [Baekjoon] 22-10-20
  Baekjoon/yerim/도영이가 만든 맛있는 음식.cpp
  Baekjoon/yerim/물병.cpp
Labels: yerim, c++

#339 [Baekjoon] 22-10-20
  Baekjoon/seongyong/write_n_commit.sh
  Baekjoon/seongyong/도영이가 만든 맛있는 음식.py
  Baekjoon/seongyong/물병.py
  Programmers/seongyong/write_n_commit.sh
Labels: seongyong, python

#340 [Baekjoon] 22-10-21
  Baekjoon/juhee/도영이가만든맛있는음식.java
  Baekjoon/juhee/물병.java
  Baekjoon/juhee/센서.java
  Baekjoon/juhee/최소스패닝트리.java
Labels: Java, juhee

#341 [Baekjoon] 22-10-21
  Baekjoon/jaehyung/센서.java
Labels: Java, jaehyung

#342 [Baekjoon] 22-10-21
  Baekjoon/subin/센서.py
  Baekjoon/subin/최소 스패닝 트리.py
Labels: subin, python

#343 [Baekjoon] 22-10-21
  Baekjoon/seongyong/센서.py
  Baekjoon/seongyong/최소 스패닝 트리.py
Labels: seongyong, python

#344 [Baekjoon] 22-10-22
  Baekjoon/juhee/A와B2.java
  Baekjoon/juhee/겹치는건싫어.java
Labels: Java, juhee

#345 [Baekjoon] 22-10-22
  Baekjoon/dongwan/A와 B 2.py
  Baekjoon/dongwan/겹치는건 싫어.py
Labels: python, dongwan

#346 [Baekjoon] 22-10-22
  Baekjoon/hyeonyoung/A와 B 2.cpp
  Baekjoon/hyeonyoung/겹치는 건 싫어.cpp
Labels: hyeonyoung

#347 [Baekjoon] 22-10-22
  Baekjoon/yerim/겹치는 건 싫어.cpp
Labels: yerim, c++

#348 [Baekjoon] 22-10-22
  Baekjoon/jaehyung/A와B2.java
  Baekjoon/jaehyung/겹치는건싫어.java
Labels: Java, jaehyung, I'm trying :fire:

#349 [Baekjoon] 22-10-22
  Baekjoon/jaehyung/겹치는건싫어.java
Labels: Java, jaehyung

#350 [Baekjoon] 22-10-22
  Baekjoon/dongwan/괄호 추가하기2.py
  Baekjoon/dongwan/파이프 옮기기.py
Labels: python, dongwan, I'm trying :fire:

#351 [Baekjoon] 22-10-23
  Baekjoon/yerim/파이프 옮기기 1.cpp
Labels: yerim, c++

#352 [Baekjoon] 22-10-23
  Baekjoon/jaehyung/파이프옮기기1.java
Labels: Java, jaehyung, I'm trying :fire:

#353 [Baekjoon] 22-10-23
  Baekjoon/hyeonyoung/괄호 추가하기 2.cpp
  Baekjoon/hyeonyoung/파이프 옮기기 1.cpp
Labels: hyeonyoung, I'm trying :fire:

#356 [Baekjoon] 22-10-24
  Baekjoon/hyeonyoung/동전 게임.cpp
  Baekjoon/hyeonyoung/센서.cpp
  Baekjoon/hyeonyoung/운동.cpp
  Baekjoon/hyeonyoung/책 페이지.cpp
  Baekjoon/hyeonyoung/최소 스패닝 트리.cpp
  Baekjoon/hyeonyoung/파이프 옮기기 1.cpp
Labels: hyeonyoung

#357 [Baekjoon] 22-10-24
  Baekjoon/yerim/동전 게임.cpp
  Baekjoon/yerim/센서.cpp
Labels: yerim, c++

#358 [Baekjoon] 22-10-24
  Baekjoon/jaehyung/동전게임.java
Labels: Java, jaehyung, I'm trying :fire:

#359 [Baekjoon] 22-10-23 (수정)
  Baekjoon/jaehyung/파이프옮기기1.java
Labels: Java, jaehyung

#360 [Baekjoon] 22-10-25
  Baekjoon/hyeonyoung/극장 좌석.cpp
  Baekjoon/hyeonyoung/알고스팟.cpp
Labels: hyeonyoung

#361 [Baekjoon] 22-10-25
  Baekjoon/dongwan/극장 좌석.py
  Baekjoon/dongwan/센서.py
Labels: python, dongwan, I'm trying :fire:, help :raising_hand_man:

#362 [Baekjoon] 22-10-25
  Baekjoon/seongyong/극장 좌석.py
  Baekjoon/seongyong/알고스팟.py
Labels: seongyong, python

#363 [Baekjoon] 22-10-25
  Baekjoon/yerim/극장 좌석.cpp
  Baekjoon/yerim/알고스팟.cpp
Labels: yerim, c++

#364 [Baekjoon] 22-10-26
  Baekjoon/hyeonyoung/벽 부수고 이동하기.cpp
  Baekjoon/hyeonyoung/욕심쟁이 판다.cpp
Labels: hyeonyoung

#365 [Baekjoon] 22-10-26
  Baekjoon/yerim/벽 부수고 이동하기.cpp
  Baekjoon/yerim/욕심쟁이 판다.cpp
Labels: yerim, c++, I'm trying :fire:

#366 [Baekjoon] 22-10-26
  Baekjoon/jaehyung/벽부수고이동하기.java
Labels: Java, jaehyung, I'm trying :fire:

#367 [Baekjoon] 22-10-26 (수정)
  Baekjoon/jaehyung/벽부수고이동하기.java
Labels: Java, jaehyung

#369 [Baekjoon] 22-10-27
  Baekjoon/hyeonyoung/배열 복원하기.cpp
  Baekjoon/hyeonyoung/피자판매.cpp
Labels: hyeonyoung

#370 [Baekjoon] 22-10-27
  Baekjoon/juhee/배열복원하기.java
  Baekjoon/juhee/피자판매.java
Labels: Java, juhee

#371 [Baekjoon] 22-10-27
  Baekjoon/seongyong/배열 복원하기.py
  Baekjoon/seongyong/피자판매.py
Labels: seongyong, python

#374 [Baekjoon] 22-10-27
  Baekjoon/jaehyung/Template.java
  Baekjoon/jaehyung/배열복원하기.java
  Baekjoon/jaehyung/피자판매.java
Labels: Java, jaehyung, I'm trying :fire:

#376 [Programmers] 22-10-28
  Programmers/yerim/점프와 순간 이동.cpp
  Programmers/yerim/짝지어 제거하기.cpp
Labels: yerim, c++

#377 [Programmers] 22-10-28
  Programmers/hyeonyoung/점프와 순간 이동.cpp
  Programmers/hyeonyoung/짝지어 제거하기.cpp
Labels: hyeonyoung

#379 [Programmers] 22-10-28
  Programmers/jaehyung/TemplateProgrammers.java
  Programmers/jaehyung/구명보트.java
  Programmers/jaehyung/영어끝말잇기.java
  Programmers/jaehyung/점프와순간이동.java
  Programmers/jaehyung/짝지어제거하기.java
Labels: Java, jaehyung

#380 [Programmers] 22-10-28
  Baekjoon/subin/점프와 순간 이동.py
  Baekjoon/subin/짝지어 제거하기.py
  Programmers/subin/점프와 순간 이동.py
  Programmers/subin/짝지어 제거하기.py
Labels: subin, python

#381 [Baekjoon] 22-10-27 (수정)
  Baekjoon/jaehyung/피자판매.java
Labels: Java, jaehyung

#382 [Baekjoon] 22-10-29
  Baekjoon/hyeonyoung/배.cpp
  Baekjoon/hyeonyoung/친구 네트워크.cpp
Labels: hyeonyoung, I'm trying :fire:

#383 [Programmers] 22-10-30
  Programmers/hyeonyoung/네트워크.cpp
  Programmers/hyeonyoung/피로도.cpp
Labels: hyeonyoung

#384 [Baekjoon] 22-10-28
  Baekjoon/dongwan/배.py
  Baekjoon/dongwan/캐슬 디펜스.py
Labels: python, dongwan

#385 [Baekjoon] 22-10-31 (실패)
  Baekjoon/juhee/색종이붙이기.java
  Baekjoon/juhee/캐슬디펜스.java
Labels: Java, juhee, help :raising_hand_man:

#386 [Baekjoon] 22-10-31
  Baekjoon/hyeonyoung/색종이 붙이기.cpp
  Baekjoon/hyeonyoung/캐슬 디펜스.cpp
Labels: hyeonyoung, I'm trying :fire:
