Repository aerimforest/Algorithm-Study, pull requests merged in 2022-08, with the labels that each got.

#1 [Baekjoon] 22-08-17
  Baekjoon/yerim/오목.cpp
  Baekjoon/yerim/퇴사 2.cpp
Labels: yerim

#4 [Baekjoon] 22-08-17
  Baekjoon/juyonLee/오목.cpp
  Baekjoon/juyonLee/퇴사2.cpp
Labels: juyon

#7 [Baekjoon] 22-08-18
  Baekjoon/hyeonyoung/연구소 3.cpp
  Baekjoon/hyeonyoung/오목.cpp
  Baekjoon/hyeonyoung/퇴사 2.cpp
  Programmers/hyeonyoung/카드 짝 맞추기.cpp
Labels: hyunyoung

#8 [Baekjoon] 22-08-17 bumjin
  Baekjoon/bumjin/Omok.java
  Baekjoon/bumjin/퇴사2.java
Labels: venzym

#16 [Baekjoon] 22-08-19
  Baekjoon/yerim/맥주 마시면서 걸어가기.cpp
  Baekjoon/yerim/케빈 베이컨의 6단계 법칙.cpp
Labels: yerim

#19 [2022-08-19]
  Baekjoon/bumjin/DrinkBeer.java
  Baekjoon/bumjin/KevinBacon.java
Labels: bumjin

#20 [Baekjoon] 22-08-20
  Baekjoon/hyeonyoung/A와 B.cpp
  Baekjoon/hyeonyoung/회문.cpp
Labels: hyeonyoung

#21 [Baekjoon] 22-08-20
  Baekjoon/bumjin/A와 B.java
  Baekjoon/bumjin/회문.java
Labels: bumjin

#23 [Baekjoon] 22-08-20
  Baekjoon/yerim/A와 B.cpp
  Baekjoon/yerim/회문.cpp
Labels: yerim

#27 [Baekjoon] 22-08-21
  Baekjoon/bumjin/A와 B.java
  Baekjoon/bumjin/DragonCurve.java
  Baekjoon/bumjin/DrinkBeer.java
  Baekjoon/bumjin/KevinBacon.java
  Baekjoon/bumjin/LadderManipulation.java
  Baekjoon/bumjin/Omok.java
  Baekjoon/bumjin/Resign2.java
  Baekjoon/bumjin/RoundRobin.java
Labels: bumjin

#31 [Baekjoon] 22-08-21
  Baekjoon/hyeonyoung/드래곤 커브.cpp
  Baekjoon/hyeonyoung/사다리 조작.cpp
Labels: hyeonyoung

#33 [Baekjoon] 22-08-21
  Baekjoon/yerim/드래곤 커브.cpp
  Baekjoon/yerim/사다리 조작.cpp
Labels: yerim

#34 [Baekjoon] 22-08-22
  Baekjoon/hyeonyoung/LCS.cpp
  Baekjoon/hyeonyoung/토마토.cpp
Labels: hyeonyoung

#35 [Baekjoon] 22-08-22
  Baekjoon/yerim/LCS.cpp
  Baekjoon/yerim/토마토.cpp
Labels: yerim

#36 Sohui
  Baekjoon/sohui/LCS.py
  Baekjoon/sohui/토마토.py
Labels: sohui

#41 [Baekjoon] 22-08-22
  Baekjoon/bumjin/A_B.java
  Baekjoon/bumjin/LCS.java
  Baekjoon/bumjin/Tomato.java
Labels: bumjin

#44 [Baekjoon] 22-08-23
  Baekjoon/hyeonyoung/꿀 따기.cpp
  Baekjoon/hyeonyoung/행복 유치원.cpp
Labels: hyeonyoung

#45 [Baekjoon] 22-08-23
  Baekjoon/yerim/꿀 따기.cpp
  Baekjoon/yerim/행복 유치원.cpp
Labels: yerim

#50 [Baekjoon] 22-08-23
  Baekjoon/juyonLee/꿀따기.cpp
  Baekjoon/juyonLee/행복유치원.cpp
Labels: juyon

#51 [Baekjoon] 22-08-23
  Baekjoon/bumjin/HappKindergarten.java
  Baekjoon/bumjin/HoneyPicking.java
Labels: bumjin

#53 [Baekjoon] 22-08-24
  Baekjoon/hyeonyoung/가르침.cpp
  Baekjoon/hyeonyoung/탈출.cpp
Labels: hyeonyoung

#56 [Baekjoon] 22-08-24
  Baekjoon/subin/가르침.py
Labels: subin

#57 [Baekjoon] 22-08-24
  Baekjoon/subin/탈출.py
Labels: subin

#58 [Baekjoon] 22-08-24
  Baekjoon/yerim/탈출.cpp
Labels: yerim

#59 [Baekjoon] 22-08-24
  Baekjoon/juyonLee/A와B.cpp
  Baekjoon/juyonLee/LCS.cpp
  Baekjoon/juyonLee/가르침.cpp
  Baekjoon/juyonLee/꿀따기.cpp
  Baekjoon/juyonLee/드래곤커브.cpp
  Baekjoon/juyonLee/연구소3.cpp
  Baekjoon/juyonLee/탈출.cpp
  Baekjoon/juyonLee/토마토.cpp
  Baekjoon/juyonLee/행복유치원.cpp
  Baekjoon/juyonLee/회문.cpp
Labels: juyon

#61 [Baekjoon] 22-08-24
  Baekjoon/juyonLee/가르침.cpp
  Baekjoon/juyonLee/탈출.cpp
Labels: juyon

#62 [Baekjoon] 22-08-24
  Baekjoon/bumjin/Escape.java
  Baekjoon/bumjin/Teaching.java
Labels: bumjin

#63 [Baekjoon] 22-08-25
  Baekjoon/hyeonyoung/LCS 2.cpp
  Baekjoon/hyeonyoung/병든 나이트.cpp
Labels: hyeonyoung

#64 [Baekjoon] 22-08-25
  Baekjoon/yerim/LCS 2.cpp
  Baekjoon/yerim/병든 나이트.cpp
Labels: yerim

#66 [Baekjoon] 22-08-25
  Baekjoon/juyonLee/병든나이트.cpp
Labels: juyon

#67 [Baekjoon] 22-08-25
  Baekjoon/bumjin/LCS2.java
  Baekjoon/bumjin/SickKnight.java
Labels: bumjin

#68 [Baekjoon] 22-08-25
  Baekjoon/subin/LCS2.py
Labels: subin

#69 [Baekjoon] 22-08-25
  Baekjoon/subin/병든 나이트.py
Labels: subin

#70 [Baekjoon] 22-08-26
  Baekjoon/subin/일루미네이션.py
Labels: subin

#71 [Baekjoon] 22-08-26
  Baekjoon/subin/진우의 민트초코우유.py
Labels: subin

#72 [Baekjoon] 22-08-26
  Baekjoon/yerim/일루미네이션.cpp
  Baekjoon/yerim/진우의 민트초코우유.cpp
Labels: yerim

#74 [Beakjoon] 22-08-26
  .idea/runConfigurations/LCS2.xml
  Baekjoon/bumjin/Illumination.java
Labels: bumjin

#77 [Programmers] 22-08-27
  Programmers/yerim/수식 최대화.cpp
  Programmers/yerim/프린터.cpp
Labels: yerim, c++

#78 [Programmers] 22-08-27
  Programmers/juyonLee/수식최대화.cpp
  Programmers/juyonLee/프린터.cpp
Labels: juyon

#80 [Programmers] 22-08-27
  Programmers/subin/프린터.py
Labels: subin

#81 [Programmers] 22-08-27
  Programmers/subin/[카카오 인턴] 수식 최대화.py
Labels: subin, python

#82 [Programmers] 22-08-27
  Programmers/bumjin/수식최대화.java
  Programmers/bumjin/프린터.java
Labels: bumjin

#83 [Programmers] 22-08-28
  Programmers/sohui/다리를 지나는 트럭.py
  Programmers/sohui/배달.py
Labels: sohui

#86 [Programmers] 22-08-28
  Programmers/bumjin/다리를지나는트럭.java
  Programmers/bumjin/배달.java
Labels: bumjin

#87 [Programmers] 22-08-28
  Programmers/hyeonyoung/다리를 지나는 트럭.cpp
  Programmers/hyeonyoung/배달.cpp
Labels: hyeonyoung

#88 [Programmers] 22-08-28
  Programmers/juyonLee/다리를지나는트럭.cpp
  Programmers/juyonLee/배달.cpp
Labels: juyon

#89 [Programmers] 22-08-28
  Programmers/yerim/다리를 지나는 트럭.cpp
Labels: yerim, c++

#91 [Baekjoon] 22-08-29
  Baekjoon/subin/낚시왕.py
Labels: subin, python

#92 [Baekjoon] 22-08-29
  Baekjoon/juyonLee/나무재태크.cpp
  Baekjoon/juyonLee/낚시왕.cpp
Labels: juyon

#93 [Baekjoon] 22-08-29
  Baekjoon/subin/나무 재테크.py
Labels: subin, python

#94 [Baekjoon] 22-08-29
  Baekjoon/hyeonyoung/낚시왕.cpp
Labels: hyeonyoung

#97 [Baekjoon] 22-08-30
  Baekjoon/bumjin/Coin1.java
  Baekjoon/bumjin/EasySteps.java
Labels: bumjin

#98 [Baekjoon] 22-08-30
  Baekjoon/sohui/동전 1.py
  Baekjoon/sohui/쉬운 계단 수.py
Labels: sohui

#99 [Baekjoon] 22-08-30
  Baekjoon/juyonLee/동전1.cpp
  Baekjoon/juyonLee/쉬운계단수.cpp
Labels: juyon

#100 [Baekjoon] 22-08-30
  Baekjoon/hyeonyoung/나무 재테크.cpp
  Baekjoon/hyeonyoung/동전 1.cpp
  Baekjoon/hyeonyoung/쉬운 계단 수.cpp
  Baekjoon/hyeonyoung/일루미네이션.cpp
  Baekjoon/hyeonyoung/진우의 민트초코우유.cpp
Labels: hyeonyoung

#102 [Baekjoon] 22-08-30
  Baekjoon/subin/쉬운 계단 수.py
Labels: subin, python

#106 [Baekjoon] 22-08-31
  Baekjoon/hyeonyoung/기타 레슨.cpp
  Baekjoon/hyeonyoung/회의실 배정.cpp
Labels: hyeonyoung

#107 [Baekjoon] 22-08-31
  Baekjoon/juyonLee/기타레슨.cpp
  Baekjoon/juyonLee/회의실배정.cpp
Labels: juyon

#108 [Baekjoon] 22-08-31
  Baekjoon/yerim/기타 레슨.cpp
  Baekjoon/yerim/회의실 배정.cpp
Labels: yerim, c++

#109 [Baekjoon] 22-08-31
  Baekjoon/subin/회의실 배정.py
Labels: subin, python

#110 [Baekjoon] 22-08-31
  Baekjoon/subin/기타 레슨.py
Labels: subin, python

#111 [Baekjoon] 22-08-31
  Baekjoon/bumjin/GuitarLesson.java
  Baekjoon/bumjin/RoomAssignment.java
Labels: bumjin

#112 [Baekjoon] 22-09-01
  Baekjoon/yerim/N번째 큰 수.cpp
  Baekjoon/yerim/최소 힙.cpp
Labels: yerim, c++
